@media (max-width: 768px) {
    .img-responsive,
    .thumbnail > img,
    .thumbnail a > img,
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        max-width: 50%;
    }
}

.navbar-default {
    background-color: #ffffff;
    border-color: #cccccc;
}